.App {
  text-align: center;
}
.select {
  margin-top: 1rem;
}
.btn {
  margin-top: 1rem;
}
.row {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}